<app-header></app-header>
<div class="container-fluid">
    <div class="row p-2">
        <app-info-personal></app-info-personal>
    </div> 
    <div class="row p-2">
        <app-experiencia></app-experiencia>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="card p-3">
            <app-listado-clientes></app-listado-clientes>
        </div>        
    </div>
    <div class="row">
        <div class="card p-3">
            <app-alta-cliente></app-alta-cliente>
        </div>        
    </div>    
</div> -->




