<app-header></app-header>
<!-- <div class="container-fluid">
    <div class="row p-2">
        <app-info-personal></app-info-personal>
    </div> 
    <div class="row p-2">
        <app-experiencia></app-experiencia>
    </div>
</div> -->

<!-- <div class="container-fluid">
    <div class="row">
        <div class="card p-3">
            <app-listado-clientes></app-listado-clientes>
        </div>        
    </div>
    <div class="row">
        <div class="card p-3">
            <app-alta-cliente></app-alta-cliente>
        </div>        
    </div>    
</div> -->

<div class="row">
    <div class="col m-3">
        <select #selectList (change)="selectCamera(selectList.value)">
        <option *ngFor="let camera of cameras" value={{camera.label}}>
        {{ camera.label }}
        </option>
        </select>
  
        <zxing-scanner style="width: 500px;"
            [enable]="scannerEnabled"
            [device]="myDevice"
            (camerasFound)="camerasFoundHandler($event)"
            (scanSuccess)="scanSuccessHandler($event)"
        ></zxing-scanner>
        <p *ngFor="let result of results">{{result}}</p> 
    </div>
    <div class="col m-3">
        <app-alta-cliente></app-alta-cliente>
    </div>
</div>




 
  

