<div class="row">
    <div class="col-12 p-3"> 
        <div class="card">      
            <img class="card-img-top" src="../../../assets/img/keyboard.jpg" alt="Imagen de portada">                    
                <img src="../../../assets/img/girasoles.jpg" alt="" 
                class="position-absolute bottom-0 end-0 translate-middle-y rounded-circle">
            
            <div class="card-body">
                <h5 class="card-title">Ludmila Chiara</h5>
                <h6 class="card-subtitle mb-2 text-muted">Estudiante de Ingeniería Electrónica</h6>
                <div class="card-text">
                    <a href="#">Información de contacto</a>                            
                </div>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary">Tengo interés en</button>
                <button type="button" class="btn btn-secondary">Añadir sección</button>
                <button type="button" class="btn btn-secondary">Más</button>
            </div>
        </div>
    </div>
</div>